
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc
  namespace: product
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 2Gi
